name: Debug Build Test

on:
  push:
    branches: [ "main", "develop" ]
  workflow_dispatch:

jobs:
  test-debug-build:
    name: Build Debug APK
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Generate Local Properties
        # env:
        #   TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
        #   RABBITSTREAM_SOURCE_API: ${{ secrets.RABBITSTREAM_SOURCE_API }}
        run: |
          # echo "TMDB_API_KEY=$TMDB_API_KEY" >> local.properties
          # echo "RABBITSTREAM_SOURCE_API=$RABBITSTREAM_SOURCE_API" >> local.properties
          echo "APP_LAYOUT=mobile" >> local.properties

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Build Debug APK
        run: ./gradlew assembleDebug --stacktrace

      - name: Upload Debug Artifact
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: app/build/outputs/apk/debug/*.apk